.sliding-background {
  background: url("websitecollage.png") repeat;
  height: 720px;
  width: 7588px; /* The image width times 3 */
  animation: slide 120s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-5691px, 0, 0); /* The image width */
  }
}

body {
  overflow: hidden;
}
