body, html {
  margin: 0;
  padding: 0;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Hide overflow content */
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: url("websitecollage.png") repeat; /* Tile the image horizontally */
  animation: scrollBackground 20s linear infinite;
}

@keyframes scrollBackground {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjusted to move the background image */
  }
}

p,li,h1,h2,h3,h4,a,button {
    color: white;
    font-family: monospace;
}

/* Example for h1 heading with background */
h1,h2 {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
    padding: 10px; /* Add some padding to create space between text and background */
    margin: 0px;
}
  
  /* Example for paragraphs (p) with background */
p {
    display: inline-block;
    background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
    padding: 5px; /* Add some padding to create space between text and background */
    margin: 0px;
}
