.sliding-background {
  background: url("websitecollage.png") repeat;
  height: 7588px;
  width: 7588px; /* The image width times 3 */
  animation: slide 120s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-5691px, -5691px, 0); /* The image width/length times 4 decreased by original image width/length */
  }
}

body {
  overflow: hidden;
}
.content {
  position: absolute;
  top: 1%;
  left: 1%;
}
* {
  color: white;
  font-family: monospace;
}
h1,h2 {
  display: inline-block;
  background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
  padding: 10px; /* Add some padding to create space between text and background */
  margin: 0px;
}
p {
  display: inline-block;
  background-color: rgba(0, 0, 0, 1); /* Use an appropriate color for the background */
  padding: 5px; /* Add some padding to create space between text and background */
  margin: 0px;
}
